In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("C:/machihe learning/Projects/Customer segmentaion and retention analysis/dataset/Online_Retail.csv", encoding='latin-1')

In [4]:
df.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [5]:
df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [7]:
df=df.dropna(subset=['CustomerID'])

In [8]:
df.isnull().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [9]:
df['InvoiceNo']

0         536365
1         536365
2         536365
3         536365
4         536365
           ...
541904    581587
541905    581587
541906    581587
541907    581587
541908    581587
Name: InvoiceNo, Length: 406829, dtype: object

In [10]:
# Returns the total number of rows starting with 'C'
count = df['InvoiceNo'].str.startswith('C', na=False).sum()
print(f"Number of invoices starting with 'C': {count}")

Number of invoices starting with 'C': 8905

In [11]:
df = df[~df['InvoiceNo'].str.startswith('C', na=False)]

In [14]:
neg_count = (df['UnitPrice'] < 0).sum()
print(f"Total negative rows: {neg_count}")

Total negative rows: 0